ion-card {
    --background: #ffffff;
    box-shadow: none;
}

.ios ion-card {
    margin-top: 10px;
    margin-bottom: 5px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    // color: var(--ion-color-light);

    @media screen and (min-width: 1024px) {
        font-size: 32px;
    }
}

// p {
//     // color: var(--ion-color-light);
// }

ion-content {
    --background: #f0f0f0;
}

ion-footer {
    background: #f0f0f0;
}
